<main>
  <div class="top-row">
    <div class="titans">
      <div class="titans-icons">
        <a class="titans-icons__btn starfire"></a>
        <a class="titans-icons__btn cyborg"></a>
        <a class="titans-icons__btn raven"></a>
        <a class="titans-icons__btn robin"></a>
        <a class="titans-icons__btn beastboy"></a>
      </div>

      <div class="titans-about">
        <!-- certo (absoluto, vai direto pra /characters) -->
        <a routerLink="/characters">
          <button>SEE MORE</button>
        </a>
        <p>CLICK AND GO TO THE CHARACTER SECTION</p>
      </div>
    </div>

    <h1 class="text-main">LEARN MORE ABOUT EACH TITAN AND THEIR ABILITIES</h1>
  </div>

  <p class="text-sec">DISCOVER A LITLE ABOUT EACH CHARACTER, THEIR ORIGIN AND PERSONALITY</p>
</main>
