<main>
  <div class="titans">
    <div class="titans-icons">
      <a class="titans-icons__btn starfire"></a>
      <a class="titans-icons__btn cyborg"></a>
      <a class="titans-icons__btn raven"></a>
      <a class="titans-icons__btn robin"></a>
      <a class="titans-icons__btn beastboy"></a>
    </div>

    <div class="titans-about">
      <button>SEE MORE</button>
      <p>CLICK AND GO TO THE CHARACTER SECTION</p>
    </div>

  </div>

  <div class="text-main">
    <h1>LEARN MORE ABOUT EACH TITAN AND THEIR ABILITIES</h1>
  </div>

  <div class="text-sec">
    <p>DISCOVER A LITLE ABOUT EACH CHARACTER, THEIR ORIGIN AND PERSONALITY</p>
  </div>
</main>
