<main>
  <div class="titans">
    <div class="titans-icons">
      <a class="titans-icons__starfire"></a>
      <a class="titans-icons__raven"></a>
      <a class="titans-icons__robin"></a>
      <a class="titans-icons__beastboy"></a>
      <a class="titans-icons__cyborg"></a>
    </div>
    <button class=titans-link>SEE MORE</button>
    <p>CLICK AND GO TO THE CHARACTER SECTION</p>
  </div>
  <div class="text-main">
    <h1>LEARN MORE ABOUT EACH TITAN AND THEIR ABILITIES</h1>
  </div>
  <div class="text-sec">
    <p>DISCOVER A LITLE ABOUT EACH CHARACTER, THEIR ORIGIN AND PERSONALITY</p>
  </div>
</main>
