main {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.3px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px 20px 0px 20px;

  .top-row {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  .titans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-icons {
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__btn {
        position: absolute;
        width: 100px;
        height: 100px;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center 1%;

        &.robin {
          transform: rotate(-90deg) translate(95px) rotate(90deg);
          background-color: #fdf552;
          background-image: url('/backgrounds/icons/robin-icon.webp');
        }
        &.starfire {
          transform: rotate(-18deg) translate(95px) rotate(18deg);
          background-color: #f765f7;
          background-image: url('/backgrounds/icons/starfire-icon.webp');
        }
        &.beastboy {
          transform: rotate(54deg) translate(95px) rotate(-54deg);
          background-color: #5fff53;
          background-image: url('/backgrounds/icons/beastboy-icon.webp');
        }
        &.raven {
          transform: rotate(126deg) translate(95px) rotate(-126deg);
          background-color: #7a62ff;
          background-image: url('/backgrounds/icons/raven-icon.webp');
          background-position: left 7%;
        }
        &.cyborg {
          transform: rotate(198deg) translate(95px) rotate(-198deg);
          background-color: #f56363;
          background-image: url('/backgrounds/icons/cyborg-icon.webp');
        }
      }
    }
  }

  .text-main {
    flex: 1;
    text-align: end;
    max-width: 700px;
    margin: 10px;
    color: rgb(220, 220, 220);
    font-size: 96px;
    margin-right: 1%;
    padding-top: 5%;
  }

  .text-sec {
    text-align: start;
    color: rgb(172, 172, 172);
    max-width: 300px;
    font-size: 20px;
    margin-top: auto;
    margin-left: 2%;
    margin-bottom: -1%;
  }
}
@media (max-width: 950px) {
  main {
    .top-row {
      .text-main {
        font-size: 75px;
      }
    }
  }
}

@media (max-width: 800px) {
  main {
    display: flex;
    .top-row {
      flex-direction: column;
      .text-main {
        font-size: 35px;
        max-width: 60%;
        text-align: center;
      }
    }

    .text-sec {
      margin: auto;
      max-width: 60%;
      text-align: center;
      margin-top: 50px;
    }
  }
}

@media (max-width: 500px) {
  main {
    .top-row {
      .titans {
        &-icons {
          height: 250px;
          &__btn {
            width: 75px;
            height: 75px;
            &.robin {
              transform: rotate(-90deg) translate(70px) rotate(90deg);
            }
            &.starfire {
              transform: rotate(-18deg) translate(70px) rotate(18deg);
            }
            &.raven {
              transform: rotate(126deg) translate(70px) rotate(-126deg);
            }
            &.beastboy {
              transform: rotate(54deg) translate(70px) rotate(-54deg);
            }
            &.cyborg {
              transform: rotate(198deg) translate(70px) rotate(-198deg);
            }
          }
        }
      }
      .text-main {
        font-size: 29px;
      }
    }

    .text-sec {
      font-size: 15px;
    }
  }
}
