<footer>
  <div class="footer-main">
    <div class="footer-main-first">
      <h4>Site Jovens Titãs</h4>
      <p>Aplicação web utlizando o framework Angular</p>
    </div>
    <div class="footer-main-sec">
      <h5>Tecnologias</h5>
      <ul>
        <li>Angular</li>
        <li>SCSS</li>
        <li>TyperScript</li>
        <li>Bootstrap</li>
      </ul>
    </div>
    <div class="footer-main-third">
      <h5>Links Rápidos</h5>
      <ul>
        <li>Home</li>
        <li>Personagens</li>
        <li>Jogos</li>
      </ul>
    </div>
    <!--border-top: 1px solid var(--cor-cinza);-->
  </div>
  <div class="footer-secondary">
    <div class="footer-secondary__icons">
      <a href="https://www.linkedin.com/in/caio-c%C3%A9sar-dv/" target="_blank">
        <img class="icon" src="icons/linkedin-icon.png" />
      </a>

      <a href="https://github.com/caiocvo" target="_blank">
        <img class="icon" src="icons/github-icon.png" />
      </a>
    </div>
    <h6>© 2026 Caio César. Todos os direitos reservados.</h6>
  </div>
</footer>
