<footer>
  <div class="footer-main">
    <div class="footer-main-first">
      <div class="logo">
        <h4 class="logo-teen">TEEN</h4>
        <h4>TITANS</h4>
      </div>

      <p>Site fã-feito dos Jovens Titãs, construído com Angular. Explore personagens, jogos e curiosidades da equipe.
      </p>
    </div>
    <div class="footer-main-sec">
      <h5>Tecnologias</h5>
      <ul>
        <li>Angular</li>
        <li>SCSS</li>
        <li>TyperScript</li>
        <li>Bootstrap</li>
      </ul>
    </div>
    <div class="footer-main-third">
      <h5>Links Rápidos</h5>
      <ul>
        <li class="links">Home</li>
        <li class="links">Personagens</li>
        <li class="links">Jogos</li>
      </ul>
    </div>
  </div>
  <div class="footer-secondary">
    <div class="footer-secondary__icons">
      <a href="https://www.linkedin.com/in/caio-c%C3%A9sar-dv/" target="_blank">
        <img class="icon" src="icons/linkedin-icon.png" />
      </a>

      <a href="https://github.com/caiocvo" target="_blank">
        <img class="icon" src="icons/github-icon.png" />
      </a>
    </div>
    <h6>© 2026 Caio Carvalho. Todos os direitos reservados.</h6>
  </div>
</footer>
