* {
  font-family: 'Anton', sans-serif;
}

.navbar {
  background-color: black !important;
  .logo {
    height: 32px;
    margin-left: 12px;
  }
  .navbar-collapse {
    flex-grow: 0 !important ;

    .nav-link {
      color: white !important;
      text-decoration: none !important;
      margin: 0 15px;
    }
    .nav-link:hover {
      color: #ffcc00 !important;
      transition: 0.3s;
    }
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
}
