<div class="power">
  <h2 class="power-title">Super Poderes e Habilidades</h2>

  <div class="power-area">
    @if (activeAbility) {
    <div class="power-area__media">
      <img [src]="activeAbility.image" class="power-area__image" [alt]="activeAbility.name">
    </div>

    <div class="power-area__info">
      <div class="power-area__index">
        <span class="power-area__index-bar"></span>
        {{ abilityActivate + 1 }}
      </div>

      <h3 class="power-area__name">{{ activeAbility.name }}</h3>
      <p class="power-area__description">{{ activeAbility.text }}</p>
    </div>
    }
  </div>

  <div class="power-section">
    @for (ab of ability; track ab.id; let i = $index) {
    <a class="power" [class.active]="abilityActivate == i" [style.--bg-color]="colorsButton[idActual]"
      (click)="selectAbility(i)">
      {{ ab.name }}
    </a>
    }
  </div>
</div>
