<div class="welcome">
  <div class="welcome-title">
    <h1>WELCOME TO THE TEEN TITANS</h1>
    <br>
    <p>Explore the heroes, powers and stories
      of the legendary team.
    </p>
  </div>

  <div class="welcome-ending">

    <div class="welcome-ending__meet">
      <p class="welcome-ending__meet-text">SCROLL DOWN</p>
      <h2 class="welcome-ending__meet-title">MEET THE TEAM</h2>
    </div>

    <div class="welcome-ending__credits">
      <ul class="welcome-ending__characters">
        <li class="welcome-ending__characters--starfire">STARFIRE</li>
        <li class="welcome-ending__characters--raven">RAVEN</li>
        <li class="welcome-ending__characters--robin">ROBIN</li>
        <li class="welcome-ending__characters--cyborg">CYBORG</li>
        <li class="welcome-ending__characters--beastboy">BEASTBOY</li>
      </ul>
      <p class="welcome-ending__credits-text">A personal project by Caio Carvalho</p>
    </div>
  </div>
</div>
