<div
  #heroRef
  class="hero"
  [ngStyle]="{
    background:
      'linear-gradient(135deg, #000 0%, #000 20%, transparent 52%),' +
      'linear-gradient(45deg, #000 0%, #000 20%, transparent 40%),' +
      personagemHero.corPrincipal,
  }"
>
  <div #flashRef class="flash"></div>

  <div class="hero-visual">
    <img
      class="sombra"
      [src]="personagemHero.imgSombra"
      [ngStyle]="{
        width: personagemHero.width + '%',
        top: personagemHero.top + '%',
        right: personagemHero.right + 'px',
      }"
    />

    <img
      class="personagem"
      [src]="personagemHero.img"
      [ngStyle]="{
        width: personagemHero.width + '%',
        top: personagemHero.top + '%',
        right: personagemHero.right + 'px',
      }"
    />
  </div>

  <div class="hero-text">
    <p class="title">{{ personagemHero.nome }}</p>
    <p class="ph">{{ personagemHero.descricao }}</p>
  </div>
  <div class="shadow-overlay"></div>

  <!--mouseenter-->
  <div class="hero-section">
    <div class="item">
      <a
        class="hero-btn starfire"
        [class.ativo]="trocaOut === 0"
        (mouseenter)="trocarPersonagem(0)"
        (click)="personagemSelecionado(0)"
        (mouseleave)="trocarPersonagem(trocaOut)"
      ></a>
      <p class="names">{{ personagens[0].nome }}</p>
    </div>

    <div class="item">
      <a
        class="hero-btn raven"
        [class.ativo]="trocaOut === 1"
        (mouseenter)="trocarPersonagem(1)"
        (click)="personagemSelecionado(1)"
        (mouseleave)="trocarPersonagem(trocaOut)"
      ></a>
      <p class="names">{{ personagens[1].nome }}</p>
    </div>

    <div class="item">
      <a
        class="hero-btn robin"
        [class.ativo]="trocaOut === 2"
        (mouseenter)="trocarPersonagem(2)"
        (click)="personagemSelecionado(2)"
        (mouseleave)="trocarPersonagem(trocaOut)"
      >
      </a>
      <p class="names">{{ personagens[2].nome }}</p>
    </div>

    <div class="item">
      <a
        class="hero-btn cyborg"
        [class.ativo]="trocaOut === 4"
        (mouseenter)="trocarPersonagem(4)"
        (click)="personagemSelecionado(4)"
        (mouseleave)="trocarPersonagem(trocaOut)"
      ></a>
      <p class="names">{{ personagens[4].nome }}</p>
    </div>

    <div class="item">
      <a
        class="hero-btn beastboy"
        [class.ativo]="trocaOut === 3"
        (mouseenter)="trocarPersonagem(3)"
        (click)="personagemSelecionado(3)"
        (mouseleave)="trocarPersonagem(trocaOut)"
      ></a>
      <p class="names">{{ personagens[3].nome }}</p>
    </div>
  </div>
</div>
