* {
  font-family: 'Anton', sans-serif;
}

.hero {
  animation: bgMove 17s ease-in-out infinite alternate;
  min-height: 100vh;
  background:
    radial-gradient(circle at top left, rgba(0, 0, 0, 0.8), transparent 50%),
    linear-gradient(to top, rgba(0, 0, 0, 1), transparent 40%),
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background 0.4s ease;
  box-shadow: inset 0 -120px 120px rgba(0, 0, 0, 0.8);

  .flash {
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0);
    opacity: 0;
    pointer-events: none;
    z-index: 10;

    &.active {
      animation: flashAnim 1s ease forwards;
    }
  }
  .hero-visual {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;
    z-index: 2;
  }

  .personagem {
    position: absolute;
    z-index: 1;
    margin-right: 4.5%;
    transition: all 0.7s ease;
  }

  .sombra {
    position: absolute;
    opacity: 0.4;
    transition: all 0.8s ease;
    z-index: 1;
  }
  .hero-text {
    border-radius: 12px;
    position: absolute;
    margin-bottom: auto;
    width: 25rem;
    line-height: 1.5;
    padding: 20px;
    top: 0;
    left: 0;
    margin-left: 10px;
    color: #ffffff;

    .title {
      font-size: 30vh;
      opacity: 0.5;
      text-transform: uppercase;
    }
    .ph {
      opacity: 0.6;
      margin-top: -10%;
      font-size: 18px;
      font-weight: 300;
      color: #ffffff;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  .hero-section {
    align-items: center; // centraliza o texto embaixo do botão
    z-index: 13;
    gap: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: 60px;
    background-color: black;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Deslocamento y, difusão, cor preta com 50% de opacidade */
    border-radius: 10px; // Combine com o raio dos botões para harmonia
    padding: 15px 25px 15px 25px;
    box-shadow:
      0 20px 40px rgba(0, 0, 0, 0.6),
      0 10px 20px rgba(0, 0, 0, 0.4),
      0 0 20px rgba(0, 0, 0, 0.6);

    .item {
      display: flex;
      flex-direction: column;
      align-items: center; // centraliza o texto embaixo do botão
    }
    .hero-btn.ativo {
      transform: scale(1.15);
      outline: 2px solid red; /* Segunda linha externa */
      outline-offset: 5px;
      opacity: 1;
      outline: 3px solid rgb(248, 255, 50);
    }

    .hero-btn {
      opacity: 0.6;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.12s ease;
      padding: 60px;
      background-size: cover;
      background-position: center 1%;

      &.starfire {
        background-image: url('/backgrounds/icons/starfire-icon.png');
        background-color: #d6520f;
      }
      &.raven {
        background-image: url('/backgrounds/icons/raven-icon.png');
        background-color: #330776;
        background-position: left 7%;
      }
      &.robin {
        background-image: url('/backgrounds/icons/robin-icon.png');
        background-color: #7a0909;
      }
      &.beastboy {
        background-image: url('/backgrounds/icons/beastboy-icon.png');
        background-color: #217d0c;
      }
      &.cyborg {
        background-image: url('/backgrounds/icons/cyborg-icon.png');
        background-color: #1359a9;
      }
    }
  }

  .shadow-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 12;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 80%);
  }
  .hero-btn:hover {
    transform: scale(1.2);
  }
}
@keyframes bgMove {
  0% {
    background-position: center;
  }
  100% {
    background-position: center 10%;
  }
}
@keyframes flashAnim {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 990px) {
  .hero {
    .hero-visual {
      top: 8%;
    }
    .hero-text {
      top: 4%;
      .title {
        font-size: 13vh;
      }
      .ph {
        font-size: 12px;
      }
    }
    .hero-section {
      padding: 10px 10px 0px 10px;
      margin-bottom: 120px;

      .hero-btn {
        transition: all 0.12s ease;
        padding: 50px;
        background-size: cover;
        background-position: center 1%;
      }
    }
  }
}

@media (max-width: 690px) {
  .hero {
    .hero-visual {
      width: 100%;
      left: 0;
      right: 0;
      justify-content: center;
    }
    .hero-text {
      margin-top: 0;
      padding: 10px;
      width: auto;
      left: 50%;
      transform: translateX(-55%);
      text-align: center;
      .ph {
        display: none;
      }
      .title {
        font-size: 13vh;
      }
    }
    .personagem {
      right: auto;
      margin-right: 0;
    }
    .sombra {
      right: 10%;
    }
    .hero-section {
      padding: 9px 9px 0px 9px;
      gap: 9px;
      flex-wrap: nowrap;
      overflow-x: auto;

      .item {
        display: flex;
        flex-direction: column;
      }
      .hero-btn {
        padding: 33px;
      }
      .hero-btn:hover {
        transform: scale(1.1);
        &.starfire {
          box-shadow: 0 0 9px rgb(235, 85, 9);
        }
        &.raven {
          box-shadow: 0 0 9px rgb(1, 11, 120);
        }
        &.robin {
          box-shadow: 0 0 9px rgb(152, 1, 1);
        }
        &.cyborg {
          box-shadow: 0 0 9px rgb(48, 86, 255);
        }
        &.beastboy {
          box-shadow: 0 0 9px rgb(0, 209, 80);
        }
      }
    }
  }
}
