<div
  #heroRef
  class="hero"
  [ngStyle]="{
    background:
      'linear-gradient(135deg, #000 0%, #000 20%, transparent 52%),' +
      'linear-gradient(45deg, #000 0%, #000 20%, transparent 40%),' +
      personagemAtivo.corPrincipal,
  }"
>
  <div #flashRef class="flash"></div>

  <div class="hero-visual">
    <img
      class="sombra"
      [src]="personagemAtivo.imgSombra"
      [ngStyle]="{
        width: personagemAtivo.width + 'px',
        top: personagemAtivo.top + '%',
        right: personagemAtivo.right + 'px',
      }"
    />

    <img
      class="personagem"
      [src]="personagemAtivo.img"
      [ngStyle]="{
        width: personagemAtivo.width + 'px',
        top: personagemAtivo.top + '%',
        right: personagemAtivo.right + 'px',
      }"
    />
  </div>

  <div class="hero-text">
    <p class="title">{{ personagemAtivo.nome }}</p>
    <p class="ph">{{ personagemAtivo.descricao }}</p>
  </div>
  <!--mouseenter-->
  <div class="hero-section">
    <a class="hero-btn starfire" (mouseenter)="trocarPersonagem(0)"></a>
    <a class="hero-btn raven" (mouseenter)="trocarPersonagem(1)"></a>
    <a class="hero-btn robin" (mouseenter)="trocarPersonagem(2)"></a>
    <a class="hero-btn cyborg" (mouseenter)="trocarPersonagem(4)"></a>
    <a class="hero-btn beastboy" (mouseenter)="trocarPersonagem(3)"></a>
  </div>
</div>
