* {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  height: 180px;
  width: 63%;
  padding: 20px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  line-height: 1.5;
  transition: all 0.2s ease;

  &__title {
    text-align: justify;
    margin-top: 10px;
    margin-left: 25px;
    color: rgb(222, 222, 222);
    line-height: 1.7;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.5px;
  }

  &__text {
    color: #c3c3c3;
    font-size: 17px;
    text-align: left;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}
.card:hover {
  transform: scale(1.015);
}
