.align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10%;
  margin-left: 5.2%;
}

.title {
  align-items: flex-start;
  margin-bottom: 50px;
  margin-left: 5%;
  display: inline-block;
  border-bottom: solid var(--border-color) 7px;
  h2 {
    color: rgb(232, 230, 230);
    font-family: 'Anton', sans-serif;
  }
}
